h1 {
  font-size: 36px;
  letter-spacing: 0.07em;
}

h2 {
  font-size: 18px;
  font-style: italic;
}

h3 {
  font-size: 20px;
  padding: 0px;
}

p {
  font-size: 13px;
}

.lineDecoration {
  background-color: black;
  height: 1.5px;
}
